<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="rect-form">
        <form action="<%=(typeof editData != 'undefined') ? '/actions/update/'+ editData.Id :
            '/actions/create'%>" method="POST">
        <input type="text" placeholder="Width of Rectangle" name="width" required
            value="<%=(typeof editData != 'undefined') ? editData.Width : '' %>">
         <input type="text" placeholder="Height of Rectangle" name="height" required
            value="<%=(typeof editData != 'undefined') ? editData.Height : '' %>">
         <select name="color" id="select">
             <option value="<%=(typeof editData != 'undefined') ? editData.Color : '' %>" disabled selected>Select a Color</option>
             <option value="White">White</option>
             <option value="Blue">Blue</option>
             <option value="Red">Red</option>
             <option value="Green">Green</option>
             <option value="Black">Black</option>
             <option value="Brown">Brown</option>
             <option value="Azure">Azure</option>
             <option value="Ivory">Ivory</option>
             <option value="Teal">Teal</option>
             <option value="Silver">Silver</option>
             <option value="Purple">Purple</option>
             <option value="NavyBlue">Navy Blue</option>
             <option value="Pea Green">Pea Green</option>
             <option value="Gray">Gray</option>
             <option value="Orange">Orange</option>
             <option value="Maroon">Maroon</option>
             <option value="Charcoal">Charcoal</option>
             <option value="Aquamarine">Aquamarine</option>
             <option value="Coral">Coral</option>
             <option value="Fuchsia">Fuchsia</option>
             <option value="Wheat">Wheat</option>
             <option value="Lime">Lime</option>
             <option value="Crimson">Crimson</option>
             <option value="Khaki">Khaki</option>
             <option value="HotPink">Hot Pink</option>
             <option value="Magenta">Magenta</option>
             <option value="Olden">Olden</option>
             <option value="Plum">Plum</option>
             <option value="Olive">Olive</option>
             <option value="Cyan">Cyan</option>
         </select>
         <button type="submit">Submit</button>
    </div>
</body>
</html>
